name: DummyDB CD

on:
  release:
    types: created

jobs:
  build-ubuntu:
    uses: isc-hei-classrooms/intro-to-ci-cd-Dav0105/.github/workflows/c-cpp-test.yml@main

  deploy-ubuntu:
    runs-on: ubuntu-latest
    needs: build-ubuntu

    permissions:
      contents: write

    steps:

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: dummydb-build
          path: ./artifact

      - name: Release
        uses: softprops/action-gh-release@v2
        # Only run on tag pushes
        if: github.ref_type == 'tag'
        with:
          files: |
            ./artifact/build/main
            ./artifact/LICENSE