name: CD Release

on:
  push:
    # Checks that the commit has a tag with name v*.*.*
    # For example v1.0.0
    tags:
      - "v*.*.*"

jobs: 
  build-and-release-ubuntu:
    runs-on: ubuntu-latest

    # action-gh-release needs write permission for contents
    permissions:
      contents: write

    steps:
      - name: Build and Test
        uses: ./c-cpp-test.yml

      - name: Build release
        run: make release

      - name: Create GitHub release
        uses: softprops/action-gh-release@v2.5.0
        with:
          files: ./build/main