# https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-registry
name: DummyDB CD

on:
  release:
    types: created

# Define env vars
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-ubuntu:
    uses: isc-hei-classrooms/intro-to-ci-cd-Dav0105/.github/workflows/c-cpp-test.yml@main

  deploy-ubuntu:
    runs-on: ubuntu-latest
    needs: build-ubuntu

    permissions:
      contents: write

    steps:

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: dummydb-build
          path: ./artifact

      - name: Release
        uses: softprops/action-gh-release@v2
        # Only run on tag pushes
        if: github.ref_type == 'tag'
        with:
          files: |
            ./artifact/build/main
            ./artifact/LICENSE

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true